<p>myhllow works!</p>
<form [formGroup]="signinForm">
  <input type="text" formControlName="email" [ngClass]="iamValid('email') !='' ? 'red':''"><br/>
  <h1 [ngClass]="iamValid('email') !='' ? 'red':''">{{iamValid("email")}}</h1>
  <input type="text" formControlName="password" [ngClass]="iamValid('password') !='' ? 'red':''"><br/>
  <h1 [ngClass]="iamValid('password') !='' ? 'red':''">{{iamValid("password")}}</h1><br/>
  <button type="button" (click)="mysubmit()">Submit</button>
</form>

<input type="text" [formControl]="something">
<input type="text" [(ngModel)]="ngmd">
